@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pacifico&family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Pacifico&family=Reem+Kufi+Fun&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --base-color-hot: rgb(255, 115, 0);
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* overflow: scroll; */
    
}


.header,
.exercise {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.header p {
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 1rem;
}


.message {
    /* font-family: 'Reem Kufi Fun', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.operation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

h1 {
    /* font-family: 'Courier New', Courier, monospace */
    font-family: 'Bungee', cursive;
    font-size: 4rem;
    margin-bottom: -.5rem;
    color: var(--base-color-hot);

}

h1::after {
    content: '';
    background-color: var(--base-color-hot);
    width: 5rem;
    height: .3rem;
    display: block;
    margin: 0 auto;
}

input {
    max-width: 4rem;
    height: 2rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-bottom: 00.5rem;
    font-size: 2rem;  
    cursor: pointer;
}

.check {
    width: 2rem;
    height: 2rem;
    border-style: none;
    border-radius: 50%;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-bottom: 00.5rem;
    font-size: 1.1rem; 
    cursor: pointer; 
}

.iniciar {
    background-color: #4CAF50;
  border-style: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Reem Kufi Fun', sans-serif;
  cursor: pointer;
}

.not-show {
    display: none;
}

h2 {
    margin-top: -1rem;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: var(--base-color-hot);
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

.scoreCerto,
.scoreErrado,
.correct-label,
.incorrect-label,
.dots {
    color: white;
    font-family: 'Pacifico', cursive;
}

.scoreCerto,
.scoreErrado {
    font-size: 3rem;
}


.score {
    display: flex;
    align-items: center;
    gap: .2rem;

}

@media (max-width: 600px) {
    body {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: none;

    }
}

